body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    margin:0;
    padding:0;
    background-size: 100%;
    width:100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
body:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url(../images/bg.jpg);
    background-size: cover;
    z-index: -1;
    filter: brightness(0.8);
}

h1{
    padding: 5px;
    background-color: violet;
    border-radius: 15px;
    color: purple;
    width: 400px;
    border-width: 7px;
    border-style:outset;
    border-color: violet;
  }

h2{
  color: lightpink;
}

h3{
  color: violet;
  border-radius: 50px;
  width: 130px;
  background-color: purple;
}

p{
  color: white;
}

#hint,#hintButton{
  display: none;
}

input{
    width: 250px;
    height: 25px;
    font-size:medium;
    font-family: fantasy;
    text-align: center;

    background-color: violet;
    color: purple;
    margin-top: 25px;
    margin-bottom: 25px;
}

img{
    border-radius: 100%;
    margin-bottom: 25px;
  }






@media all and (max-width: 1300px){
    h1{
        width: 325px;
    }

    img{
        width: 40%;
    }
}