body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    margin:0;
    padding:0;
    background-size: 100%;
    width:100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
body:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url(../images/bg.jpg);
    background-size: cover;
    z-index: -1;
    filter: brightness(0.8);
}

h1{
  padding: 5px;
  background-color: violet;
  border-radius: 15px;
  color: purple;
  width: 400px;
  border-width: 7px;
  border-style:outset;
  border-color: violet;
}

span{
  color: rgb(192, 0, 192);
}

p{
  text-align:center;
  color: white;
  width: 60%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img{
  border-radius: 100%;
}

.headText{
  margin-top: 50px;
}

.tailText{
  margin-bottom: 50px;
}







@media all and (max-width: 1300px) {
  h1{
    width: 200px;
  }

  p{
    width: 90%;
    margin-left: 18px;
  }

  img{
    width: 80%;
  }
}
